.about-container{
    display: flex;
    min-width: 800px;
    justify-content: space-between;
}

img{
    border: 1px solid #ddd;
    display: grid;
    align-items: center;
    justify-self: center;
    border-radius: 4px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

.about-container .text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}