main{
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightyellow;
  margin: 50px;
  width: auto;
  min-height: 400px;
  background: url(https://source.unsplash.com/1600x900/?color) no-repeat center center/ cover;
}