.likes{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: grey;
  color: white;
  box-shadow: 0 0 5px grey;
  padding: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.even{
  background-color: forestgreen;
}

.odd{
  background-color: crimson;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 20px;
  border: 2px solid grey;
  border-radius:50%;
  font-size: 0.8rem;
  background: grey;
  color: white;
  box-shadow: 0 0 5px rgb(145, 135, 135);
}
button:hover{
  background: white;
  color: grey;
}






