.circle{
    width: 150px;
    height: 150px;
    background: white;
    box-shadow: 0 0 3px #333;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}

.circle.active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    background: url('//cdn.pixabay.com/photo/2016/02/16/14/09/dog-1203351_1280.jpg') no-repeat center center/ cover;
}

.circle.active:hover{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    background: url('//cdn.pixabay.com/photo/2018/09/30/22/04/dog-breed-3714812_1280.jpg') no-repeat center center/ cover;
    cursor: grab;
}