body{
  min-height: 800px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right top, #ad430c, #bf6b00, #c59500, #bfc000, #a8eb12);
}

.header-container{
  text-align: center;
}

main{
  display: flex;
  justify-content: center;
  z-index: 10;
}

.button-container{
  display: flex;
  justify-content: center;
}

button{
  width: 100px;
  font-size: 1rem;
  margin: 30px;
  padding: 10px;
  border-radius: 5px
}