body{
  min-height: 800px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right top, #8E44AD , #E74C3C, #F0B27A , #A9DFBF, #D5F5E3);
}

.header-container{
  text-align: center;
}
.header-container p{
  font-size: 1.5rem;
}
.header-container span{
  font-weight: bold;
}

main{
  display: flex;
  justify-content: center;
  z-index: 10;
}

.button-container{
  display: flex;
  justify-content: center;
}

button{
  width: 100px;
  font-size: 1rem;
  margin: 30px;
  padding: 10px;
  border-radius: 5px
}